CSS

/* topnav background color and properties*/
.topnav {
  background-color: #595959;
  overflow: hidden;
  border: 5px solid #333333;
  border-radius: 5px;
}

/*link style*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* hover change color */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add color active tab */
.topnav a.active {
  background-color: #003300;
  color: white;
}
